.profile__edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 550px) {
    .profile__edit-container {
        max-width: 250px;
    }
}