.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -35px;
    right: -35px;
    background-color: transparent;
    border: none;
    background-image: url(../../../images/close__icon.svg);
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 380px) {
    .popup__close {
        top: -50px;
        right: 0;
    }
}