.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

@media screen and (max-width: 900px) {
    .profile__info {
        margin: 22.25px 0 0;
    }
}